version: "3.9"

services:
  app:
    image: ghcr.io/akgonzaga/turma01:latest
    restart: unless-stopped
    ports:
      - "6060:6060"
    env_file:
      - .env
    depends_on:
      - postgres

  postgres:
    image: postgres:15-alpine
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
